@*********************************
* latex_buttons for latex editor *
*********************************@
<div id="inputbuttons">
    <!-- SYMBOLS -->
    <div class=buttonbox style="width:40%;">
        <a id="button17" class="latex_button">${\color{lightgray}x}^{p}$</a>
        <a id="button1" class="latex_button">${\color{lightgray}x}_{n}$</a>
        <a id="button3" class="latex_button">$\alpha$</a>
        <a id="button12" class="latex_button">$\beta$</a>
        <a id="button13" class="latex_button">$\gamma$</a>
        <a id="button14" class="latex_button">$\delta$</a>
        <a id="button15" class="latex_button">$\epsilon$</a>
        <a id="button18" class="latex_button">$\lambda$</a>
        <a id="button11" class="latex_button">$\pi$</a>
        <a id="button10" class="latex_button">$\infty$</a>
        <a id="button21" class="latex_button">$\mathbb{R}$</a>
        <a id="button22" class="latex_button">$\mathbb{C}$</a>
        <a id="button26" class="latex_button">$<$</a>
        <a id="button23" class="latex_button">$\leq$</a>
        <a id="button25" class="latex_button">$>$</a>
        <a id="button24" class="latex_button">$\geq$</a>
        <a id="button29" class="latex_button">$\sim$</a>
        <a id="button31" class="latex_button">$\dots$</a>
    </div>
    <!-- OPERATORS -->
    <div class=buttonbox style="width:30%;">
        <a id="button20" class="latex_button">$\frac{a}{b}$</a>
        <a id="button4" class="latex_button">$\frac{d}{dx}$</a>
        <a id="button19" class="latex_button">$\frac{d^{2}}{dx^{2}}$</a>
        <a id="button2" class="latex_button">$\int_{a}^{b}f(x)\,dx$</a>
        <a id="button9" class="latex_button">$\lim_{x \rightarrow a}$</a>
        <a id="button27" class="latex_button">$\sin\left({\color{lightgray}\dots} \right)$</a>
        <a id="button28" class="latex_button">$\cos\left({\color{lightgray}\dots} \right)$</a>
        <a id="button30" class="latex_button">$\sum_{i = 0}^{N}$</a>
    </div>
    <!-- ENVIRONMENTS, ETC. -->
    <div class=buttonbox style="width:20%;">
        <a id="button5" class="latex_button"><font color="blue">blue text</font></a>
        <a id="button32" class="latex_button"><font color="red">red text</font></a>
        <a id="button6" class="latex_button">equation</a>
        <a id="button16" class="latex_button">align</a>
        <a id="button33" class="latex_button">matrix</a>
        <a id="button34" class="latex_button">piecewise</a>
        <a id="button7" class="latex_button">$\left({\color{lightgray}\dots} \right)$</a>
        <a id="button8" class="latex_button">$\left[{\color{lightgray}\dots} \right]$</a>
    </div>
</div>
<div class="message">
    All math must be written between a pair of '$' characters or in the 'equation' or 'align' environments which can be input by clicking the corresponding buttons below.<br><br>
    Most math symbols are input as you would expect (i.e. the '+' operator is just the '+' button on the keyboard). Other symbols/functions can be input by clicking the buttons directly below. If you can't find the symbol you're looking for, you might be able to find it <a href="https://en.wikibooks.org/wiki/LaTeX/Mathematics">here</a>.
</div>