body {
    font-family: 'Helvetica Neue';
    font-weight: 300;
}

.message{
  font-size: 8pt;
  color:#AAAAAA;
}

.main_box, .main_box>div {
  font-family: serif;
  font-size: 12pt;
  border: 1px solid #eeeeee;
}

#tags, #selection {
  border: none;
}

.main_box .box_title {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 20pt;
  color: #FFFFFF;
  background: #2F4F4F;
}

.hideable_box>.box_title:hover {
  background-color: #3F5F5F;
}

.box_title, .box_title+div, .latex_edit_render_area {
  padding: 10px 10px 10px 10px;
}

/*http://css.maxdesign.com.au/listutorial/horizontal_master.htm#*/
#tags {
  margin-top: 20px;
  margin-bottom: 20px;
}

#tags ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: left;
}

#tags ul li { display: inline; }

#tags ul li span
{
text-decoration: none;
padding: .2em 1em;
color: #000;
background-color: #fff;
border: 1px solid #eeeeee;
}

#latex_box
{
  width:800px;
}

#latex_box #tags {
  margin-top: 20px;
  margin-bottom: 2px
}

#latex_box #tags ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: left;
}

#latex_box #tags ul li { display: inline; }

#latex_box #tags ul li span
{
text-decoration: none;
padding: .2em 1em;
color: #000;
background-color: #fff;
border: 1px solid #eeeeee;
}

#latex_box #tags ul li span:hover
{
background-color: #eeeeee;
}

#latex_box #inputbuttons
{
  font-size: 10pt;
  margin-bottom: 1em;
}

#latex_box #inputbuttons .buttonbox
{
  display:inline-block;
  line-height: 3.2em;
  padding: 0.5em;
}

#latex_box #inputbuttons a
{
  border: 1px solid black;
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 1em;
}

#latex_box #inputbuttons a:hover
{
  border: 1px solid black;
  padding: 10px;
  color: #ffffff;
  background-color: #00AAAA;
}

#latex_box button {
  background-color: #ffffff;
  font-size: 20px;
}

#latex_box button:hover {
    background-color: #eeeeee;
}

#selection{
    padding-top: 20px
}

#selection select, input{
    border: 1px solid #000  ;
    background-color: rgba(255,255,255,.5);
    padding: 5px;
}
#courseSelect{
    width: 10em;
}
#termSelect{
    width: 8em;
}
#yearSelect{
    width: 5em;
}

.semiOpagueText{
    color: #000000;
    opacity: 0.3;
}

.searchResult{
    font-family: serif;
}

.latex_edit_area textarea{
    width: 99%;
    height: 10em;
}

.latex_edit_area button{
    font-family: 'Helvetica Neue';
    font-weight: 300;
    color:#2F4F4F;
    width: 10em;
}

.latex_edit_area button.render_button{
    /*float: left;*/
}

.latex_edit_area button.submit_button{
    /*float: right;*/
}

.questionsList{
    list-style-type: none;
}