.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
}

.bubble-chart-tooltip {
  font-size: 12px;
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #888;
  padding: 0px 3px 0px 3px;
}

