.youtubeFrame {
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    padding: 0.5em;
    border: 1px solid #AAAAAA;
    background: #DDDDDD;

}

.topics_list {
   colums: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}