@(flags: List[(String, Int)])(implicit context: service.AppContext[AnyContent])

@main("Dashboard for Contributors"){
<div class="white_background_box_90">
    The following number of questions statements, hints and solutions need review or improvement.
    <table>
        <tr>
            <th style="padding-right:15px">Flag</th>
            <th>Count</th>
        </tr>
        @for(f <- flags){
            <tr>
                <td>
                    <a href="@routes.QuestionController.dashboard_flag(f._1)">@f._1</a>
                </td>
                <td>
                    @f._2
                </td>
            </tr>
        }
        </table>
</div>
}