@(title: String)(implicit context: service.AppContext[AnyContent])
@main(title){
<div class="white_background_box_90">
    <p> The following <Strong id="num_exam_in_progress"></Strong> exams need some work. We require
        <Strong style="color: #5bc0de">content</Strong>,
        <Strong style="color: #f0ad4e">review</Strong>,
        <Strong style="color: #d9534f">improvement</Strong> so that all questions become
        <Strong style="color: #5cb85c">good quality</Strong>.
    </p>

    <div id="exams_in_progress"></div>
</div>

<script>
$.getJSON("/dashboard/exams_in_progress/flags_per_exam").done(function(data){$("#num_exam_in_progress").text(data.length);});
</script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="@routes.Assets.at("javascripts/dashboard_visualizations.js")" type="text/javascript"></script>
}