@main("Editor"){
<div id="latex_box">
    <div id="tags">
        <ul>
            <li><span>"x_{1}"</span></li>
            <li><span>"integral"</span></li>
            <li><span>"alpha"</span></li>
            <li><span>"d/dx"</span></li>
            <li><span>"blue text"</span></li>
            <li><span>"equation"</span></li>
        </ul>
    </div>

    <div>
        <textarea name="latex_formula" id="latex_formula" cols="100" rows="10"></textarea>
    </div>
    Hit the render button to view your output: <button style="margin:left 20px; font-family: 'Helvetica Neue'; font-weight: 300; color:#2F4F4F;">render!</button>

    <p style="font-family: serif; font-size: 12pt; width = 100%; border: 1px dashed #AAAAAA;">   </p> <!-- gets appeneded by jquery -->


</div>
}