@()(implicit context: service.AppContext[AnyContent])

@main("Math Education Resources") {
<div class="row">
    <div class="col-md-3"></div>
    <div class="white_background_box col-md-6">
        <p class="text_large center" style="border-bottom: 2px solid #7491A3;">Welcome to the <em>Math Education Resources</em>!</p>

        <p class="text_small">This page is currently in beta, please check out our <a href="http://wiki.ubc.ca/Science:Math_Exam_Resources">main webpage on the UBC wiki.</a></p>

        <p>Math Education Resources <em>(MER)</em> provides free hints and peer-reviewed solutions to previous math exams administered at the University of British Columbia - grouped by topic and rated by difficulty. Additional learning content is also provided on our topics pages. Click on any of the tabs above to start studying!</p>

        <p>In total we have collected <Strong><span id="numberOfGoodQualitySolutions"></span></Strong> peer-reviewed Hints and Solutions, and counting!</p>

    </div>
</div>
}

<script>
    function addNumberOfGoodQualitySolutions(){
        var response = $.getJSON("./numSols").done(function(data){$("#numberOfGoodQualitySolutions").text(data);});
    };

    addNumberOfGoodQualitySolutions();
</script>