@()(implicit context: service.AppContext[AnyContent])

@main("Math Exam Resources") {
<div class="row">
    <div class="col-md-3"></div>
    <div class="white_background_box col-md-6">
        <p class="text_large center" style="border-bottom: 2px solid #7491A3;">Welcome to the <em>Math Exam Resources</em>!</p>

        <p>Math Exam Resources <em>(MER)</em> provides free hints and peer-reviewed solutions to previous math exams administered at the University of British Columbia - grouped by topic and rated by difficulty. Additional learning content is also provided on our topics pages. Click on any of the tabs above to start studying!</p>

        <p class="text_small">This page is currently in beta, please check out our <a href="http://wiki.ubc.ca/Science:Math_Exam_Resources">main webpage on the UBC wiki.</a></p>
    </div>
</div>
}
