@()(implicit context: service.AppContext[AnyContent])

@main("Math Education Resources") {
<div class="row">
    <div class="col-md-3"></div>
    <div class="white_background_box col-md-6">
        <p class="text_large center">Welcome to the <em>Math Education Resources</em>!</p>

        <p>MER provides free Hints and Solutions to previous Math Exams - grouped by topic and rated by difficulty.</p>

        <p class="text_small">This page is currently in beta, please check out our <a href="http://wiki.ubc.ca/Science:Math_Exam_Resources">main webpage on the UBC wiki.</a></p>
    </div>
</div>
}
