@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: { inlineMath: [ ['$','$'], ['\\(','\\)'] ] }
            });
        </script>

        <script type="text/javascript"
                src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/question.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/course.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/exam.css")">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="@routes.Assets.at("javascripts/question.js")" type="text/javascript"></script>

    </head>
    <body>
        <div class="wrapper">
            <table id="banner">
            <tbody>
            <tr>
            <td style="color:#000;">

            <table style="white-space:nowrap; border:none; background:none; position:relative">
            <tbody><tr>
            <td style="padding: 2px; white-space:nowrap; color:#FFFFFF;">
            <a href="@routes.Application.index" title="Science:Math Exam Resources">
            <img alt="Math kid.jpg" src="@routes.Assets.at("images/268px-Math_kid.jpg")" width="200" height="150">
            </a>
            </td></tr></tbody>
            </table>

            </td>

            <td style="padding-right:5px; float:right;">
            </td>
            <td style="background:#2F4F4F; left:258px; font-weight:normal; height:150px; width:100%; color: white; font-size:50pt; line-height:120%; text-align:center;">
            <b>@title</b>
            </td>
            </tr></tbody>
            </table>

            @content

            <ul id="nav">
              <li><a href=@routes.Application.team>About Us</a></li>
              <li><a href=@routes.Application.editor>Latex Editor</a></li>
              <li><a href=@routes.Application.questions>Browse Questions</a></li>
              <li><a href=@routes.Application.search>Search Questions</a></li>
              <li><a href=@routes.Application.exams>Browse Exams</a></li>
            </ul>
        </div>
    </body>
</html>
