@(q: String, stmt: String, hints: List[String], sols: List[String])

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exam question</title>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: { inlineMath: [ ['$','$'], ['\\(','\\)'] ] }
    });
    </script>
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

        <link rel='stylesheet' type="text/css" href="@routes.Assets.at("stylesheets/question.css")" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type='text/javascript' src="@routes.Assets.at("javascripts/question.js")"></script>

</head>

<body>

<div id="selection">

        @helper.form(action = routes.QuestionController.questionSubmit()) {

        <select name="course">
            <option value="MATH100">Math 100</option>
            <option value="MATH101">Math 101</option>
            <option value="MATH102">Math 102</option>
            <option value="MATH103">Math 103</option>
            <option value="MATH104">Math 104</option>
            <option value="MATH105">Math 105</option>
            <option value="MATH110">Math 110</option>
            <option value="MATH152">Math 152</option>
            <option value="MATH200">Math 200</option>
            <option value="MATH215">Math 215</option>
            <option value="MATH220">Math 220</option>
            <option value="MATH221">Math 221</option>
            <option value="MATH253">Math 253</option>
            <option value="MATH257">Math 257</option>
            <option value="MATH307">Math 307</option>
            <option value="MATH307">Math 312</option>
            <option value="MATH307">Math 437</option>
        </select>

        <select name="term">
            <option value="April">April</option>
            <option value="December">December</option>
        </select>

        <select name="year">
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2005">2005</option>
        </select>

        <select name="q_no">
            @for( i <- 1 to 20){
                @if( i < 10 ){
                    <option value=@("0" + i)>@("0" + i)</option>
                }else{
                    <option value=@i>@i</option>
                }
            }
        </select>

        <select name="q_letter">
            @for( c <- 'a' to 'e' ){
                <option value=@c>@c</option>
            }
        </select>

        <input type="submit" value="Find Question">
        }
</div>

<div class="main_box">
    <div class="box_title">@q</div>
    <div>@stmt</div>
</div>

@for( (h, ind) <- hints.zipWithIndex ) {
<div class="main_box hideable_box">
    <div class="box_title">Hint (@(ind+1))</div>
    <div>@h</div>
</div>
}

@for( (s, ind) <- sols.zipWithIndex ) {
<div class="main_box hideable_box">
    <div class="box_title">Solution (@(ind+1))</div>
    <div>@s</div>
</div>
}

<div id="tags">
    <ul>
    <li><span>#Tags:</span></li>
    <li><span>#Math</span></li>
    <li><span>#Hard</span></li>
    <li><span>#Impossible</span></li>
    <li><span>#Numbers</span></li>
    </ul>
</div>

</body>
</html>


