@(qn: Question, editable: Boolean)(courses: List[String], terms: List[String], years: List[String], questions: List[String], selectedCourse: String, selectedYear: String, selectedTerm: String, selectedQuestion: String, userRating: Option[Int])(implicit context: service.AppContext[AnyContent])
@import service.{Visitor, Contributor, SuperUser}
@user = @{context.user}
@q = @{qn.question}
@course = @{qn.course}
@term_year = @{ qn.term + "_" + qn.year.toString() }
@stmt = @{qn.statement}
@hints = @{qn.hints}
@sols = @{qn.sols}
@answer = @{qn.answer}
@topics = @{qn.topics}
@rating = @{qn.rating}
@num_votes = @{qn.num_votes}
@solvers = @{qn.solvers}
@contributors = @{qn.contributors}
@flags = @{qn.flags}
@statement_missing = @{flags.contains("CQ")}
@statement_review = @{flags.contains("RQ")}
@statement_improve = @{flags.contains("QBQ")}
@statement_good = @{flags.contains("QGQ")}
@hint_missing = @{flags.contains("CH")}
@hint_review = @{flags.contains("RH")}
@hint_improve = @{flags.contains("QBH")}
@hint_good = @{flags.contains("QGH")}
@solution_missing = @{flags.contains("CS")}
@solution_review = @{flags.contains("RS")}
@solution_improve = @{flags.contains("QBS")}
@solution_good = @{flags.contains("QGS")}
@latexbuttons = {
<div id="inputbuttons">
    <!-- SYMBOLS -->
    <div class=buttonbox style="width:40%;">
        <a id="button17" class="latex_button">${\color{lightgray}x}^{p}$</a>
        <a id="button1" class="latex_button">${\color{lightgray}x}_{n}$</a>
        <a id="button3" class="latex_button">$\alpha$</a>
        <a id="button12" class="latex_button">$\beta$</a>
        <a id="button13" class="latex_button">$\gamma$</a>
        <a id="button14" class="latex_button">$\delta$</a>
        <a id="button15" class="latex_button">$\epsilon$</a>
        <a id="button18" class="latex_button">$\lambda$</a>
        <a id="button11" class="latex_button">$\pi$</a>
        <a id="button10" class="latex_button">$\infty$</a>
        <a id="button21" class="latex_button">$\mathbb{R}$</a>
        <a id="button22" class="latex_button">$\mathbb{C}$</a>
        <a id="button26" class="latex_button">$<$</a>
        <a id="button23" class="latex_button">$\leq$</a>
        <a id="button25" class="latex_button">$>$</a>
        <a id="button24" class="latex_button">$\geq$</a>
        <a id="button29" class="latex_button">$\sim$</a>
        <a id="button31" class="latex_button">$\dots$</a>
    </div>
    <!-- OPERATORS -->
    <div class=buttonbox style="width:30%;">
        <a id="button20" class="latex_button">$\frac{a}{b}$</a>
        <a id="button4" class="latex_button">$\frac{d}{dx}$</a>
        <a id="button19" class="latex_button">$\frac{d^{2}}{dx^{2}}$</a>
        <a id="button2" class="latex_button">$\int_{a}^{b}f(x)\,dx$</a>
        <a id="button9" class="latex_button">$\lim_{x \rightarrow a}$</a>
        <a id="button27" class="latex_button">$\sin\left({\color{lightgray}\dots} \right)$</a>
        <a id="button28" class="latex_button">$\cos\left({\color{lightgray}\dots} \right)$</a>
        <a id="button30" class="latex_button">$\sum_{i = 0}^{N}$</a>
    </div>
    <!-- ENVIRONMENTS, ETC. -->
    <div class=buttonbox style="width:20%;">
        <a id="button5" class="latex_button"><font color="blue">blue text</font></a>
        <a id="button32" class="latex_button"><font color="red">red text</font></a>
        <a id="button6" class="latex_button">equation</a>
        <a id="button16" class="latex_button">align</a>
        <a id="button33" class="latex_button">matrix</a>
        <a id="button34" class="latex_button">piecewise</a>
        <a id="button7" class="latex_button">$\left({\color{lightgray}\dots} \right)$</a>
        <a id="button8" class="latex_button">$\left[{\color{lightgray}\dots} \right]$</a>
    </div>
</div>
<div class="message">
    All math must be written between a pair of '$' characters or in the 'equation' or 'align' environments which can be input by clicking the corresponding buttons below.<br><br>
    Most math symbols are input as you would expect (i.e. the '+' operator is just the '+' button on the keyboard). Other symbols/functions can be input by clicking the buttons directly below. If you can't find the symbol you're looking for, you might be able to find it <a href="https://en.wikibooks.org/wiki/LaTeX/Mathematics">here</a>.
</div>
}


@main("Questions"){
<div class="white_background_box_90">
    <div id="selection">
        @helper.form(action = routes.QuestionController.questionSubmit()) {
            <select id="courseSelect" name="course">
                @for( course <- courses ){
                    <option value=@course @if(course == selectedCourse){selected}>@course</option>
                }
                @if(courses.isEmpty && !selectedCourse.isEmpty){
                    <option value=@selectedCourse>@selectedCourse</option>
                }
            </select>

            <select id="termSelect" name="term">
                @for( term <- terms ) {
                    <option value=@term @if(term == selectedTerm){selected}>@term</option>
                }
                @if(terms.isEmpty && !selectedTerm.isEmpty){
                    <option value=@selectedTerm>@selectedTerm</option>
                }
            </select>

            <select id="yearSelect" name="year">
                @for( year <- years ){
                    <option value=@year @if(year == selectedYear){selected}>@year</option>
                }
                @if( years.isEmpty && !selectedYear.isEmpty){
                    <option value=@selectedYear>@selectedYear</option>
                }
            </select>

            <select id="questionSelect" name="question">
                @for( question <- questions ){
                    <option value="@question" @if(question == selectedQuestion){selected}>@question</option>
                }
                @if( questions.isEmpty && !selectedQuestion.isEmpty){
                    <option value=@selectedQuestion>@selectedQuestion</option>
                }
            </select>

        <input id="findQuestionBtn" type="submit" value="Jump to Question">
    }
    </div>


    @if(selectedCourse){
        <div id="back_from_question">
            Back to <a href="@routes.QuestionController.course(selectedCourse)">@selectedCourse</a> or <a href="@routes.QuestionController.exam(selectedCourse, term_year)">@term_year.replace("_", " ")</a>.
        </div>
    }


    <br>


    <div id="prev_next_question" style="margin: 0 auto; text-align: center;">
        @if(!(editable)){
            <a id="prev_question">&larr; Previous question</a>
            @if(context.user.isDefined){
                <a id="edit_question" href="@routes.QuestionController.questionEdit(course, term_year, q)">Edit question</a>
            }
            <a id="next_question">Next question &rarr;</a>
        } else {
        <a href="@routes.QuestionController.question(course, term_year, q)">Back to question view</a>
        }
    </div>


    <br>

    
    <!--TODO: Contributors and SuperUsers are allowed to change the quality flags-->
    @if(context.user.isDefined & selectedCourse){
            <p id="statement_quality">
                <div><Strong>Statement:</Strong>
                    <div class="btn-group quality_buttons" id="statement_quality_buttons">
                        <button type="radio" class="btn quality_missing @if(statement_missing){active}" value="CQ">Missing</button>
                        <button type="radio" class="btn quality_review @if(statement_review){active}" value="RQ">Needs review</button>
                        <button type="radio" class="btn quality_improve @if(statement_improve){active}" value="QBQ">Needs improvement</button>
                        <button type="radio" class="btn quality_good @if(statement_good){active}" value="QGQ">Good quality</button>
                    </div>
                </div>
            </p>
    }

    <div class="main_box">
        <div class="box_title">
            @q
            @if(num_votes > 0){
                <div class="easiness_rating_box">
                    Easiness: <span class="easiness_rating" title=@num_votes>@(Math.round(rating*10)/10.toDouble)/5</span>
                    <span class="num_votes">(@num_votes @if(num_votes > 1){votes} else {vote})</span>
                </div>
            }
        </div>
        <div>@Html(stmt)</div>
    </div>

    @if(editable){
        <div class="latex_edit_area" id="statement_html_edit">
            <div class="latex_box">
                @latexbuttons
                <textarea>@Html(stmt)</textarea>
                <div class="latex_edit_render_area"></div>
                <div>
                    <button class="render_button">render</button>
                    <button class="submit_button">submit changes</button>
                </div>
            </div>
        </div>
    }

    @if(!editable){
        <div class="message">
        Make sure you understand the problem fully: 
        <ul>
            <li>What is the question asking you to do? 
            <li>Are there specific conditions or constraints that you should take note of?</li>
            <li>How will you know if your answer is correct from your work only? </li>
            <li>Can you rephrase the question in your own words in a way that makes sense to you? </li>
        </ul>

        If you are stuck, check the hint below. Consider it for a while. Does it give you a new idea on how to approach the problem? If so, try it! 
        </div>    
    }

    @if(context.user.isDefined & selectedCourse){
        <p id="hint_quality">
            <div><Strong>Hint(s):</Strong>
                <div class="btn-group quality_buttons" id="hint_quality_buttons">
                    <button type="button" class="btn quality_missing @if(hint_missing){active}" value="CH">Missing</button>
                    <button type="button" class="btn quality_review @if(hint_review){active}" value="RH">Needs review</button>
                    <button type="button" class="btn quality_improve @if(hint_improve){active}" value="QBH">Needs improvement</button>
                    <button type="button" class="btn quality_good @if(hint_good){active}" value="QGH">Good quality</button>
                </div>
            </div>
        </p>
    }

    @for( (h, ind) <- hints.zipWithIndex ) {
        <div class="main_box @if(!editable){hideable_box}">
            <div class="box_title">Hint @if(ind > 0){(@{ind+1})}</div>

            <div>@Html(h)</div>
        </div>
        @if(editable){
            <div class="latex_edit_area" id=@("hints_html_"+ind+"_edit")>
                <div class="latex_box">
                    @latexbuttons
                    <textarea>@Html(h)</textarea>
                    <div class="latex_edit_render_area"></div>
                    <div>
                        <button class="render_button">render</button>
                        <button class="submit_button">submit changes</button>
                    </div>
                </div>
            </div>
        }
    }

    @if(!editable){
        <div class="message">Checking a solution serves two purposes:
        <ul>
            <li>Helping you if, after having used the hint, you still are stuck on the problem or... </li>
            <li>if you have solved the problem and would like to check your work. </li>
        </ul>
        </div>
    }

    <div class="main_box @if(!editable){hideable_box}">
        <div class="box_title">Final answer</div>

        <div>@Html(answer)</div>
    </div>

    @if(editable){
        <div class="latex_edit_area" id=@("answer_html_edit")>
            <div class="latex_box">
                @latexbuttons
                <textarea>@Html(answer)</textarea>
                <div class="latex_edit_render_area"></div>
                <div>
                    <button class="render_button">render</button>
                    <button class="submit_button">submit changes</button>
                </div>
            </div>
        </div>
    }

    @if(context.user.isDefined & selectedCourse){
        <p id="solution_quality">
            <div><Strong>Solution(s):</Strong>
                <div class="btn-group quality_buttons" id="solution_quality_buttons">
                    <button type="button" class="btn quality_missing @if(solution_missing){active}" value="CS">Missing</button>
                    <button type="button" class="btn quality_review @if(solution_review){active}" value="RS">Needs review</button>
                    <button type="button" class="btn quality_improve @if(solution_improve){active}" value="QBS">Needs improvement</button>
                    <button type="button" class="btn quality_good @if(solution_good){active}" value="QGS">Good quality</button>
                </div>
            </div>
        </p>
    }

    @for( (s, ind) <- sols.zipWithIndex ) {
    <div class="main_box @if(!editable){hideable_box}">
        <div class="box_title">Full Solution @if(ind > 0){(@{ind+1})}</div>
        <div>@Html(s)</div>
    </div>
    @if(editable){
    <div class="latex_edit_area" id=@("sols_html_"+ind+"_edit")>
        <div class="latex_box">
            @latexbuttons
            <textarea>@Html(s)</textarea>
            <div class="latex_edit_render_area"></div>
            <div>
                <button class="render_button">render</button>
                <button class="submit_button">submit changes</button>
            </div>
        </div>
    </div>
        }
    }

    @if(editable){
        <div>
        Upload image:
        @helper.form(action = routes.QuestionController.upload(context.request.path), 'enctype -> "multipart/form-data") {
            <input type="file" name="file"><input type="submit">
        }
        </div>
    }

    <div class="question_bottom_box">
    	<div id="question_rating" style="display:inline-block;">
            <input id="my_rating" data-show-clear="false" data-symbol="&#x2714;" @if(userRating.isDefined){value=@userRating.get.toString}
            @if(!context.user.isDefined){data-disabled="true"}>
            <!-- see http://plugins.krajee.com/star-rating/demo -->
        </div>
        <div style="display:inline-block; width: 49%; text-align: top;">
            <b>Need more help?</b><br> <!--Visit the <a href="http://www.math.ubc.ca/~MLC/">Math Learning Centre</a> in LSK 301/302 to get help from Math Graduate student TAs or let us help you <a href="https://docs.google.com/forms/d/1nV32JI4R3Mp96lYtLIpNEE-LB_T-fEHz-8lfAZXd430/viewform">find a private tutor</a>. -->
            <div style="display:inline-block; width:49%; background: #7491A3; border: 1px solid #DD3355; padding: 1em; text-align: center;"><a style="font-weight: bold; color:white" href="http://www.math.ubc.ca/~MLC/">Math Learning Centre</a></div>
            <div style="display:inline-block; width:49%; background: #7491A3; border: 1px solid #DD3355; padding: 1em; text-align: center;"><a style="font-weight: bold; color:white" href="https://docs.google.com/forms/d/1nV32JI4R3Mp96lYtLIpNEE-LB_T-fEHz-8lfAZXd430/viewform">Find a private tutor</a></div>
        </div><br>
        @if(solvers){
        <div style="display:inline-block; width: 49%;">
        This question was solved by <Strong>@solvers.mkString(", ")</Strong>
            @if(contributors) {
                with the help of <em>@contributors.mkString(", ")</em>.</div>
            } else {.}
    } else {
        @if(contributors) {
            The following people have worked on this question: <em>@contributors.mkString(", ")</em>.
        }
    }
        <div id="question_topics" style="display:inline-block;">
            <b>Question Tags</b>
            <input style="width: 100%;" type="hidden" class="question_tags" @if(!editable){disabled} value=@topics.mkString(",")>
        </div>
    </div>
    

</div>
}

<script>
$(document).ready(function(){
$("#my_rating").rating({
    stars: 5,
    min: 0,
    max: 5,
    step: 1,
    starCaptions: {1: "Way over my head", 2: "Difficult", 3: "A good challenge", 4: "Relatively simple",
                   5: "Easy as &pi;"},
    starCaptionClasses: {1: "text-danger",
                         2: "text-warning",
                         3: "text-info",
                         4: "text-primary",
                         5: "text-success"}
});

$('#my_rating').on('rating.change', function(event, value, caption) {
    debugger;
    console.log(value);
    console.log(caption);
    $.ajax({
      type: 'POST',
      url: window.location.pathname + "/vote/" + value,
      success: function(d){
        debugger;
        $("span.easiness_rating")[0].textContent = d.rating.toFixed(1);
        $("span.num_votes")[0].textContent = "(" + d.num_votes + " votes)";
      },
      error: function(obj, st, err){
        alert(err);
      }
    })
});

var topicsCache = [];
$(".question_tags").select2({
    tags: true,
    tokenSeparators: [",", " "],
    minimumInputLength: 1,
    createSearchChoice: function(term, data) {
        if ($(data).filter(function() {
          return this.text.localeCompare(term) === 0;
        }).length === 0) {
          return {
            id: term,
            text: term
          };
        }
    },
    multiple: true,
    data:{ results: topicsCache},
    initSelection: function (element, callback) {
        var data = [];
        $(element.val().split(",")).each(function () {
            data.push({id: this, text: this});
        });
        callback(data);
    }
})
.on("select2-selecting", function(e){
    var newTag = e.choice.text;
    console.log(newTag);
    $.ajax({
        type: 'POST',
        url: window.location.pathname + "/addtopic/" + newTag,
        success: function(d){
            debugger;
            $(".question_tags");
            console.log("added new tag");
        },
        error: function(obj, st, err){
            alert(err + "\n" + obj.responseText);
        }
    })
})
.on("select2-removing",function(e){
    var removedTag = e.choice.text;
    console.log("removing tag " + removedTag);
    $.ajax({
        type: 'POST',
        url: window.location.pathname + "/removetopic/" + removedTag,
        success: function(d){
            console.log("removed tag");
        },
        error: function(obj, st, err){
            alert(err + "\n" + obj.responseText);
        }
    })
});
});

$('body').on('click', '.quality_buttons button', function (e) {
    if (!$(this).hasClass('active')){
        <!--Only fire if active button changed-->
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        var newQualityFlag = $(this).val();
        $.ajax({
            type: 'POST',
            url: window.location.pathname + "/updateQuality/" + newQualityFlag,
            success: function(d){
                //
            },
            error: function(obj, st, err){
                alert(err + "\n" + obj.responseText);
            }
        })
    };
});
</script>
