@(results: Seq[SearchResult])

@main("Search by Keywords"){

<div id="selection">
<div id="search_bar_box">
@helper.form(action = routes.QuestionController.searchByKeywordsSubmit()) {
    <input type="text" size="30" name="searchString">
    <input id="searchBtn" type="submit" value="Search">
}
</div>
<div id="results_box">
@if( results.isEmpty ){
    <p><Strong>No results found.</Strong> Try different keywords and we'll see if they appear in any of our questions, hints, solutions, or on any of our topics page.</p>
} else {
    @for( r <- results ){
    	<div class="result">
        <p><a href=@r.url>@r.link.replace("%20", " ")</a>   relevance: @r.score</p>
        <div class="result_stmt">@Html(r.statement)</div></div>
    }
}
</div>
</div>

}