@(results: Seq[String])

@main("Search by Keywords"){

<div id="selection">

@helper.form(action = routes.QuestionController.searchByKeywordsSubmit()) {
    <input type="text" name="searchString">
    <input id="searchBtn" type="submit" value="Search">
}

@if( results.isEmpty ){
    <p><Strong>No results found.</Strong> Try different keywords and we'll see if they appear in any of our questions, hints, or solutions.</p>
} else {
    @for( r <- results ){
        <p><a class="searchResult" href=@r>@r.replace("%20", " ")</a></p>
    }
}

</div>

}