@(title: String)

@main("The Team"){
The <b>MER wiki</b> has had many contributors over the years. So many that we can't even remember them all. At the present time the key members are as follows:
<ul>
<li><a href="http://www.math.ubc.ca/~konradbe/">Bernhard Konrad</a></li>
<li><a href="http://www.math.ubc.ca/~wft/">William Thompson</a></li>
<li><a href="http://www.math.ubc.ca/~cbruni/">Carmen Bruni</a></li>
<li><a href="http://www.math.ubc.ca/~mlrtlm/">Michael Lindstrom</a></li>
<li><a href="http://www.math.ubc.ca/~imoyles/">Iain Moyles</a></li>
<li>Christina Koch</li>
<li>Wayne Yu</li>
</ul>
If you are interested in becoming involved with MER wiki, don't hesitate to contact us at <i>an email address</i>.<br><br>
Happy Studying!
}