@(topics: List[Topic])(implicit context: service.AppContext[AnyContent])

@main("Topics"){
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/topics.css")'>
<div class="white_background_box_90 topics">
    <p>A list of key topics is below, each with associated questions and additional content. Click on a topic to see more. If you cannot find the topic you want, try searching in the "Find Keywords" tab above.</p>
    <span id="topics_bubble_chart" class="center" style="display: block"></span>

    <ul class="topics_list">
        @for( topic <- topics ){
            <li class="topic">
                <a href="@routes.TopicController.topic(topic.topic)">@topic.topic.replace("_", " ")</a>
            </li>
        }
    </ul>

</div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="@routes.Assets.at("javascripts/topics_visualizations.js")" type="text/javascript"></script>
}
